In [22]:
# %pip install python-dateutil
# %pip install faker

In [38]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import pandas as pd
import random 

from faker.providers.date_time import Provider as DateTimeProvider
from faker.providers import date_time
from faker import Faker


fake = Faker()
datetime_provider = date_time.Provider(fake)

fecha_minima = datetime.strptime('2006-11-15', '%Y-%m-%d')
fecha_maxima = datetime.strptime('2024-04-01', '%Y-%m-%d')


amount_predefined = [903.59, 1355.38, 3162.55, 4517.93]
amount_free = [90.36, 451.79, 1807.17, 6325.10, 8132.27, 9035.86]
amount_choices = amount_predefined + amount_free

data2 = []
partner_donation_dates = {}  # Diccionario para realizar seguimiento de las fechas de donaciÃ³n de las empresas asociadas

for _ in range(1000):
    name = fake.name()
    try:
        first_name, last_name = name.split()
    except ValueError:
        first_name = name
        last_name = ""
    email = f"{first_name.lower()}.{last_name.lower()}@gmail.com"
    date = fake.date_between_dates(date_start=fecha_minima, date_end=fecha_maxima)
    is_partner = fake.random_element([0, 1])
    donation_frecuency = fake.random_element([0, 1])

    if is_partner == 1:
        suscription_status = 1
        company = fake.random_element(['Pepsi', 'Amazon', 'Jonhsons', 'Nasscom', 'Vodafone', 'Baxter', 'The Oberoi', 'CBN', 'Hyatt', 'Westin', 'YCI', 'CaSa', 'Cromax', 'Nike', 'Cosco', 'Indigo'])
        role_company = fake.random_element(['CEO',' CTO', 'Employee'])
        donation_date = 'None'
        donation_type = fake.random_element([1, 2, 3, 4])
        if donation_type == 1:
            amount = fake.random_int(min=200, max=2000)
            method_pay = fake.random_element([1,2,3])
        else:
            amount = 0
            if company == 'Amazon':
                donation_type = 2
        
    else:
        suscription_status = 1 if donation_frecuency == 1 else 0
        company = 'None'
        role_company = 'None'
        donation_type = 1
        amount = fake.random_element(amount_choices)        
        method_pay = fake.random_element([1,2,3]) # Tarjeta , Paypal , Googlepay
        donation_date = fake.date_between_dates(date_start=fecha_minima, date_end=fecha_maxima)
    
    data2.append([name, email, date, is_partner, company, role_company, donation_frecuency, suscription_status, donation_type, amount, method_pay, donation_date])


df2 = pd.DataFrame(data2, columns=['name', 'email', 'date', 'is_partner',  'company', 'role_company',  'donation_frecuency', 'suscription_status', 'donation_type', 'amount', 'method_pay','donation_date'])
df2

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
0,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.10,1,2009-08-13
1,Tara Young,tara.young@gmail.com,2017-10-22,1,Nike,CTO,1,1,4,0.00,1,None
2,Bobby Acevedo,bobby.acevedo@gmail.com,2019-02-18,0,None,None,0,0,1,1355.38,3,2022-05-01
3,James Payne,james.payne@gmail.com,2013-03-06,0,None,None,0,0,1,8132.27,3,2014-10-18
4,Michael Esparza,michael.esparza@gmail.com,2012-08-13,0,None,None,1,1,1,3162.55,2,2017-04-06
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Sharon Frank,sharon.frank@gmail.com,2010-02-11,1,Vodafone,CEO,0,1,4,0.00,1,None
996,Rebecca Snyder,rebecca.snyder@gmail.com,2009-11-07,1,CBN,CTO,0,1,1,1376.00,1,None
997,Brett Munoz,brett.munoz@gmail.com,2016-06-29,1,Westin,Employee,0,1,4,0.00,1,None
998,Carly Chen,carly.chen@gmail.com,2017-06-13,1,Pepsi,CEO,0,1,3,0.00,1,None
999,Victoria Ellis,victoria.ellis@gmail.com,2013-01-30,1,Indigo,CTO,0,1,1,1340.00,2,None

In [39]:
df2.shape

(1000, 12)

In [40]:
filtered_df = df2[(df2['is_partner'] == 0) & (df2['donation_frecuency'] == 1)]

# Luego, creamos una lista para almacenar los registros duplicados con modificaciones
duplicated_records = []

# Iteramos sobre los registros seleccionados y creamos duplicados con modificaciones
for _, row in filtered_df.iterrows():
    # Generamos un valor aleatorio para la cantidad de duplicados
    num_duplicates = random.randint(2, 24)
    
    # Obtenemos la fecha de suscripciÃ³n
    subscription_date = row['date']
    
    # Iteramos para cada duplicado
    for i in range(num_duplicates):
        # Copiamos la fila actual
        duplicated_row = row.copy()
        
        # AÃ±adimos i meses a la fecha de suscripciÃ³n
        new_donation_date = subscription_date + relativedelta(months=i)
        
        # Asignamos la nueva fecha de donaciÃ³n a la fila duplicada
        duplicated_row['donation_date'] = new_donation_date
        
        # AÃ±adimos la fila duplicada a la lista de registros duplicados
        duplicated_records.append(duplicated_row)
        
duplicated_df = pd.DataFrame(duplicated_records)

# Concatenamos el DataFrame duplicado con el DataFrame original
result_df = pd.concat([df2, duplicated_df], ignore_index=True)
result_df.head()

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
0,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.10,1,2009-08-13
1,Tara Young,tara.young@gmail.com,2017-10-22,1,Nike,CTO,1,1,4,0.00,1,None
2,Bobby Acevedo,bobby.acevedo@gmail.com,2019-02-18,0,None,None,0,0,1,1355.38,3,2022-05-01
3,James Payne,james.payne@gmail.com,2013-03-06,0,None,None,0,0,1,8132.27,3,2014-10-18
4,Michael Esparza,michael.esparza@gmail.com,2012-08-13,0,None,None,1,1,1,3162.55,2,2017-04-06

In [41]:
result_df.shape

(4187, 12)

In [42]:
df2[(df2['is_partner'] == 0) & (df2['donation_frecuency'] == 1)]

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
0,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.10,1,2009-08-13
4,Michael Esparza,michael.esparza@gmail.com,2012-08-13,0,None,None,1,1,1,3162.55,2,2017-04-06
8,Christopher Jennings,christopher.jennings@gmail.com,2014-03-28,0,None,None,1,1,1,8132.27,1,2013-05-04
10,James Wilson,james.wilson@gmail.com,2011-09-03,0,None,None,1,1,1,4517.93,1,2022-10-24
16,Cheryl Shields,cheryl.shields@gmail.com,2019-04-22,0,None,None,1,1,1,3162.55,2,2014-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...
979,Nichole Gonzales,nichole.gonzales@gmail.com,2021-03-18,0,None,None,1,1,1,1807.17,2,2019-09-08
982,Jordan James,jordan.james@gmail.com,2009-12-25,0,None,None,1,1,1,1355.38,3,2009-05-14
983,Patricia Brooks,patricia.brooks@gmail.com,2010-11-29,0,None,None,1,1,1,3162.55,2,2021-01-16
984,Julie Hood,julie.hood@gmail.com,2012-10-29,0,None,None,1,1,1,8132.27,2,2018-05-28
993,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,None,None,1,1,1,3162.55,1,2008-11-11

In [43]:
# Realizar un merge entre result_df y filtered_df para obtener las filas comunes
merged_df = pd.merge(result_df, filtered_df, how='left', indicator=True)
# Filtrar las filas que estÃ¡n solo en result_df (es decir, no estÃ¡n en filtered_df)
result_df = merged_df[merged_df['_merge'] == 'left_only'].drop(columns='_merge')
# Mostrar las primeras filas del DataFrame resultante
result_df.head()

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
1,Tara Young,tara.young@gmail.com,2017-10-22,1,Nike,CTO,1,1,4,0.00,1,None
2,Bobby Acevedo,bobby.acevedo@gmail.com,2019-02-18,0,None,None,0,0,1,1355.38,3,2022-05-01
3,James Payne,james.payne@gmail.com,2013-03-06,0,None,None,0,0,1,8132.27,3,2014-10-18
5,Heather Mooney,heather.mooney@gmail.com,2013-06-02,1,Jonhsons,Employee,0,1,2,0.00,2,None
6,Joseph Anderson,joseph.anderson@gmail.com,2024-01-21,1,The Oberoi,Employee,1,1,2,0.00,2,None

In [44]:
result_df[result_df.name == 'James Potts']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
1000,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-01-27
1001,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-02-27
1002,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-03-27
1003,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-04-27
1004,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-05-27
1005,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-06-27
1006,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-07-27
1007,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-08-27
1008,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-09-27
1009,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-10-27
1010,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-11-27
1011,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2010-12-27
1012,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-01-27
1013,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-02-27
1014,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-03-27
1015,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-04-27
1016,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-05-27
1017,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-06-27
1018,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-07-27
1019,James Potts,james.potts@gmail.com,2010-01-27,0,None,None,1,1,1,6325.1,1,2011-08-27

In [45]:
result_df.shape

(3934, 12)

In [46]:
result_df[result_df['company'] == 'Pepsi']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
9,Arthur White,arthur.white@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,4,0.0,1,None
28,James Gill,james.gill@gmail.com,2006-12-24,1,Pepsi,CTO,0,1,1,834.0,1,None
37,Anthony Ward,anthony.ward@gmail.com,2015-04-15,1,Pepsi,Employee,0,1,3,0.0,1,None
44,Madison Warren,madison.warren@gmail.com,2006-12-06,1,Pepsi,Employee,1,1,1,1125.0,2,None
72,Michael Campos,michael.campos@gmail.com,2022-04-21,1,Pepsi,CEO,1,1,1,589.0,1,None
254,Jessica Cline,jessica.cline@gmail.com,2012-08-15,1,Pepsi,CEO,1,1,4,0.0,1,None
263,Brett Sanchez,brett.sanchez@gmail.com,2016-11-06,1,Pepsi,Employee,1,1,4,0.0,2,None
297,Don Rich,don.rich@gmail.com,2013-04-18,1,Pepsi,CEO,1,1,3,0.0,1,None
301,Lindsey Jackson,lindsey.jackson@gmail.com,2017-04-05,1,Pepsi,CTO,1,1,3,0.0,1,None
312,Kyle Mays,kyle.mays@gmail.com,2011-07-24,1,Pepsi,Employee,0,1,3,0.0,2,None
316,Scott Hart,scott.hart@gmail.com,2009-06-02,1,Pepsi,CTO,0,1,1,1308.0,1,None
332,Joseph Allen,joseph.allen@gmail.com,2010-09-21,1,Pepsi,CTO,0,1,3,0.0,1,None
368,Elizabeth Andrews,elizabeth.andrews@gmail.com,2023-09-06,1,Pepsi,CTO,1,1,3,0.0,3,None
445,Joseph Sims,joseph.sims@gmail.com,2016-02-17,1,Pepsi,CTO,0,1,2,0.0,3,None
452,Catherine Reid,catherine.reid@gmail.com,2013-03-27,1,Pepsi,CTO,1,1,3,0.0,2,None
459,Timothy Hammond,timothy.hammond@gmail.com,2021-11-24,1,Pepsi,CEO,1,1,4,0.0,1,None
487,Christopher Sandoval,christopher.sandoval@gmail.com,2022-10-03,1,Pepsi,CEO,0,1,2,0.0,1,None
500,Kaylee Olson,kaylee.olson@gmail.com,2021-02-20,1,Pepsi,Employee,0,1,2,0.0,2,None
505,Alice Diaz,alice.diaz@gmail.com,2018-08-17,1,Pepsi,CEO,1,1,1,1030.0,1,None
533,Steven Roberts,steven.roberts@gmail.com,2024-03-31,1,Pepsi,CTO,1,1,2,0.0,1,None
576,Victoria Henderson,victoria.henderson@gmail.com,2017-09-19,1,Pepsi,Employee,1,1,2,0.0,2,None
648,David Martinez,david.martinez@gmail.com,2009-09-12,1,Pepsi,CTO,0,1,1,505.0,3,None
691,Nathan Stevens,nathan.stevens@gmail.com,2019-01-29,1,Pepsi,CEO,1,1,2,0.0,1,None
693,Michael Davis,michael.davis@gmail.com,2021-04-10,1,Pepsi,Employee,0,1,2,0.0,2,None
851,Susan Ward,susan.ward@gmail.com,2009-11-12,1,Pepsi,CTO,1,1,2,0.0,3,None
879,Jason Campbell,jason.campbell@gmail.com,2021-09-18,1,Pepsi,CTO,0,1,4,0.0,2,None
904,Michael Wright,michael.wright@gmail.com,2012-09-22,1,Pepsi,Employee,1,1,3,0.0,1,None
925,Robert Lee,robert.lee@gmail.com,2016-09-16,1,Pepsi,Employee,1,1,4,0.0,1,None
943,Todd Gonzales,todd.gonzales@gmail.com,2009-04-18,1,Pepsi,CEO,0,1,1,477.0,2,None
960,Suzanne Whitaker,suzanne.whitaker@gmail.com,2017-04-02,1,Pepsi,Employee,0,1,1,1901.0,3,None
972,Mike Hayes,mike.hayes@gmail.com,2016-03-31,1,Pepsi,CTO,1,1,3,0.0,1,None
981,Stephen Gray,stephen.gray@gmail.com,2016-08-09,1,Pepsi,CTO,1,1,1,685.0,3,None
998,Carly Chen,carly.chen@gmail.com,2017-06-13,1,Pepsi,CEO,0,1,3,0.0,1,None

In [47]:
# Filtrar solo las filas donde is_partner es igual a 1
partner_df = result_df[result_df['is_partner'] == 1]

# Obtener una lista de empresas Ãºnicas
unique_companies = partner_df['company'].unique()

# Iterar sobre las empresas Ãºnicas
for company in unique_companies:
    # Obtener la primera fecha de donaciÃ³n para esta empresa
    first_donation_date = partner_df.loc[partner_df['company'] == company, 'date'].iloc[0]
    
    # Actualizar la columna de fecha de donaciÃ³n para todas las filas de esta empresa
    result_df.loc[(result_df['is_partner'] == 1) & (result_df['company'] == company), 'date'] = first_donation_date

# Ahora result_df tiene la fecha de donaciÃ³n de la primera fila de cada empresa para todas las filas de esa empresa

In [48]:
result_df.shape

(3934, 12)

In [49]:
result_df[result_df['company'] == 'Pepsi']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
9,Arthur White,arthur.white@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,4,0.0,1,None
28,James Gill,james.gill@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,1,834.0,1,None
37,Anthony Ward,anthony.ward@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,3,0.0,1,None
44,Madison Warren,madison.warren@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,1,1125.0,2,None
72,Michael Campos,michael.campos@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,1,589.0,1,None
254,Jessica Cline,jessica.cline@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,4,0.0,1,None
263,Brett Sanchez,brett.sanchez@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,4,0.0,2,None
297,Don Rich,don.rich@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,3,0.0,1,None
301,Lindsey Jackson,lindsey.jackson@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,1,None
312,Kyle Mays,kyle.mays@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,3,0.0,2,None
316,Scott Hart,scott.hart@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,1,1308.0,1,None
332,Joseph Allen,joseph.allen@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,3,0.0,1,None
368,Elizabeth Andrews,elizabeth.andrews@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,3,None
445,Joseph Sims,joseph.sims@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,2,0.0,3,None
452,Catherine Reid,catherine.reid@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,2,None
459,Timothy Hammond,timothy.hammond@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,4,0.0,1,None
487,Christopher Sandoval,christopher.sandoval@gmail.com,2018-10-16,1,Pepsi,CEO,0,1,2,0.0,1,None
500,Kaylee Olson,kaylee.olson@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,2,0.0,2,None
505,Alice Diaz,alice.diaz@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,1,1030.0,1,None
533,Steven Roberts,steven.roberts@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,2,0.0,1,None
576,Victoria Henderson,victoria.henderson@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,2,0.0,2,None
648,David Martinez,david.martinez@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,1,505.0,3,None
691,Nathan Stevens,nathan.stevens@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,2,0.0,1,None
693,Michael Davis,michael.davis@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,2,0.0,2,None
851,Susan Ward,susan.ward@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,2,0.0,3,None
879,Jason Campbell,jason.campbell@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,4,0.0,2,None
904,Michael Wright,michael.wright@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,3,0.0,1,None
925,Robert Lee,robert.lee@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,4,0.0,1,None
943,Todd Gonzales,todd.gonzales@gmail.com,2018-10-16,1,Pepsi,CEO,0,1,1,477.0,2,None
960,Suzanne Whitaker,suzanne.whitaker@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,1,1901.0,3,None
972,Mike Hayes,mike.hayes@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,1,None
981,Stephen Gray,stephen.gray@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,1,685.0,3,None
998,Carly Chen,carly.chen@gmail.com,2018-10-16,1,Pepsi,CEO,0,1,3,0.0,1,None

In [50]:
for index, row in result_df[(result_df['is_partner'] == 1) & (result_df['donation_date'] == 'None' )].iterrows():
    suscription_date = row['date']

    # Generar una fecha pasada aleatoria entre suscription_date y 1 dÃ­a antes de la fecha actual
    random_donation_date = datetime_provider.past_date(start_date=suscription_date)
    
    # Asignar la fecha de donaciÃ³n generada a la columna 'donation_date' en la fila actual
    result_df.at[index, 'donation_date'] = random_donation_date

In [51]:
result_df[result_df['company'] == 'Pepsi']

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
9,Arthur White,arthur.white@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,4,0.0,1,2020-05-29
28,James Gill,james.gill@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,1,834.0,1,2024-02-18
37,Anthony Ward,anthony.ward@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,3,0.0,1,2021-04-07
44,Madison Warren,madison.warren@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,1,1125.0,2,2022-09-27
72,Michael Campos,michael.campos@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,1,589.0,1,2018-11-04
254,Jessica Cline,jessica.cline@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,4,0.0,1,2023-04-27
263,Brett Sanchez,brett.sanchez@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,4,0.0,2,2020-04-23
297,Don Rich,don.rich@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,3,0.0,1,2020-02-09
301,Lindsey Jackson,lindsey.jackson@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,1,2021-08-09
312,Kyle Mays,kyle.mays@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,3,0.0,2,2019-01-31
316,Scott Hart,scott.hart@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,1,1308.0,1,2022-11-30
332,Joseph Allen,joseph.allen@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,3,0.0,1,2020-10-01
368,Elizabeth Andrews,elizabeth.andrews@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,3,2021-07-13
445,Joseph Sims,joseph.sims@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,2,0.0,3,2021-12-17
452,Catherine Reid,catherine.reid@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,2,2022-03-31
459,Timothy Hammond,timothy.hammond@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,4,0.0,1,2022-07-08
487,Christopher Sandoval,christopher.sandoval@gmail.com,2018-10-16,1,Pepsi,CEO,0,1,2,0.0,1,2019-10-08
500,Kaylee Olson,kaylee.olson@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,2,0.0,2,2019-04-02
505,Alice Diaz,alice.diaz@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,1,1030.0,1,2024-02-26
533,Steven Roberts,steven.roberts@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,2,0.0,1,2022-07-16
576,Victoria Henderson,victoria.henderson@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,2,0.0,2,2023-07-02
648,David Martinez,david.martinez@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,1,505.0,3,2021-06-25
691,Nathan Stevens,nathan.stevens@gmail.com,2018-10-16,1,Pepsi,CEO,1,1,2,0.0,1,2021-11-27
693,Michael Davis,michael.davis@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,2,0.0,2,2019-01-08
851,Susan Ward,susan.ward@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,2,0.0,3,2024-01-03
879,Jason Campbell,jason.campbell@gmail.com,2018-10-16,1,Pepsi,CTO,0,1,4,0.0,2,2023-04-18
904,Michael Wright,michael.wright@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,3,0.0,1,2022-04-25
925,Robert Lee,robert.lee@gmail.com,2018-10-16,1,Pepsi,Employee,1,1,4,0.0,1,2021-09-24
943,Todd Gonzales,todd.gonzales@gmail.com,2018-10-16,1,Pepsi,CEO,0,1,1,477.0,2,2019-07-19
960,Suzanne Whitaker,suzanne.whitaker@gmail.com,2018-10-16,1,Pepsi,Employee,0,1,1,1901.0,3,2019-01-06
972,Mike Hayes,mike.hayes@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,3,0.0,1,2019-03-19
981,Stephen Gray,stephen.gray@gmail.com,2018-10-16,1,Pepsi,CTO,1,1,1,685.0,3,2024-01-12
998,Carly Chen,carly.chen@gmail.com,2018-10-16,1,Pepsi,CEO,0,1,3,0.0,1,2023-03-06

In [52]:
result_df.shape

(3934, 12)

In [53]:
result_df

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
1,Tara Young,tara.young@gmail.com,2017-10-22,1,Nike,CTO,1,1,4,0.00,1,2021-11-14
2,Bobby Acevedo,bobby.acevedo@gmail.com,2019-02-18,0,None,None,0,0,1,1355.38,3,2022-05-01
3,James Payne,james.payne@gmail.com,2013-03-06,0,None,None,0,0,1,8132.27,3,2014-10-18
5,Heather Mooney,heather.mooney@gmail.com,2013-06-02,1,Jonhsons,Employee,0,1,2,0.00,2,2018-06-11
6,Joseph Anderson,joseph.anderson@gmail.com,2024-01-21,1,The Oberoi,Employee,1,1,2,0.00,2,2024-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...
4182,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,None,None,1,1,1,3162.55,1,2022-09-06
4183,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,None,None,1,1,1,3162.55,1,2022-10-06
4184,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,None,None,1,1,1,3162.55,1,2022-11-06
4185,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,None,None,1,1,1,3162.55,1,2022-12-06
4186,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,None,None,1,1,1,3162.55,1,2023-01-06

In [54]:
result_df.to_csv('datos_donantes.csv', index=False)

In [55]:
pd.read_csv('datos_donantes.csv')

,name,email,date,is_partner,company,role_company,donation_frecuency,suscription_status,donation_type,amount,method_pay,donation_date
0,Tara Young,tara.young@gmail.com,2017-10-22,1,Nike,CTO,1,1,4,0.00,1,2021-11-14
1,Bobby Acevedo,bobby.acevedo@gmail.com,2019-02-18,0,NaN,NaN,0,0,1,1355.38,3,2022-05-01
2,James Payne,james.payne@gmail.com,2013-03-06,0,NaN,NaN,0,0,1,8132.27,3,2014-10-18
3,Heather Mooney,heather.mooney@gmail.com,2013-06-02,1,Jonhsons,Employee,0,1,2,0.00,2,2018-06-11
4,Joseph Anderson,joseph.anderson@gmail.com,2024-01-21,1,The Oberoi,Employee,1,1,2,0.00,2,2024-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...
3929,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,NaN,NaN,1,1,1,3162.55,1,2022-09-06
3930,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,NaN,NaN,1,1,1,3162.55,1,2022-10-06
3931,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,NaN,NaN,1,1,1,3162.55,1,2022-11-06
3932,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,NaN,NaN,1,1,1,3162.55,1,2022-12-06
3933,Thomas Edwards,thomas.edwards@gmail.com,2021-06-06,0,NaN,NaN,1,1,1,3162.55,1,2023-01-06